*{
  box-sizing: border-box;
}

body
{
  width: 1920px;
}


@font-face
{
	font-family: 'Gilroy-Bold';
	src: url('../fonts/gilroy-bold.woff');
}
@font-face
{
	font-family: 'Gilroy-Medium';
	src: url('../fonts/gilroy-medium.woff'); /* IE 9 Compatibility Mode */
}
@font-face
{
  font-family: 'F77 Minecraft';
  src: url('../fonts/F77 Minecraft.ttf');
}
@font-face
{
  font-family: 'Ctrln';
  src: url('../fonts/Ctrln-Regular.ttf');
}
.pers
{
  position: fixed;
  width: 189px;
  height: 237px;
  display: flex;
  left: 825px;
  top: 542px;
  z-index: 999;
  animation: pers 6s linear infinite;
}
@keyframes pers
{
  0%
  {transform: rotate(0deg);}
  25%
  {
    transform: rotate(45deg);
  }
  85%
  {transform: rotate(-20deg);}
  100%
  {
    transform: rotate(0deg);
  }
}

.maintext1
{
  position: absolute;
  width: 634px;
  height: 336px;
  top: 40px;
  left: 2px;
}
.screen1
{
  width: 1920px;
  height: 901px;
  display: flex;
  overflow: hidden;
  position: relative;
}
.homeleft
{
  display: flex;
  width: 699px;
}
.panelka1
{
  background: url('../img/panelka1.svg');
  display: block;
  width: 360px;
  height: 905px;
  position: relative;
  margin-top: 10px;
}
.animationwindow
{
  position: relative;
  width: 65px;
  height: 47px;
  top: 35px;
  left: 285px;
  background: #FFE600;
  opacity: 0%;
  transition: 10s;
  animation: show 3s 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  animation-iteration-count:infinite;
  }
  @keyframes show
  {
  0%
  {
  opacity:0;
  }
  45%
  {
  opacity:0.5;
  }
  }
  .animationwindow1
  {
    position: relative;
    width: 30px;
    height: 45px;
    top: 83px;
    left: 201px;
    background: #FFE600;
    opacity: 0%;
    transition: 5s;
    animation: show 10s 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-iteration-count:infinite;
    }
    @keyframes show
    {
    0%
    {
    opacity:0;
    }
    45%
    {
    opacity:0.5;
    }
    }
    .animationwindow2
    {
      position: relative;
      width: 74px;
      height: 43px;
      top: 142px;
      left: 0px;
      background: #FFE600;
      opacity: 0%;
      transition: 10s;
      animation: show 20s 1;
      animation-fill-mode: forwards;
      animation-delay: 1s;
      animation-iteration-count:infinite;
      }
      @keyframes show
      {
      0%
      {
      opacity:0;
      }
      45%
      {
      opacity:0.5;
      }
      }
      .animationwindow3
      {
        position: relative;
        width: 62px;
        height: 45px;
        top: 193px;
        left: 290px;
        background: #FFE600;
        opacity: 0%;
        transition: 10s;
        animation: show 15s 1;
        animation-fill-mode: forwards;
        animation-delay: 1s;
        animation-iteration-count:infinite;
        }
        @keyframes show
        {
        0%
        {
        opacity:0;
        }
        45%
        {
        opacity:0.5;
        }
        }
        .animationwindow4
        {
          position: relative;
          width: 66px;
          height: 47px;
          top: 344px;
          left: 6px;
          background: #FFE600;
          opacity: 0%;
          transition: 5s;
          animation: show 5s 1;
          animation-fill-mode: forwards;
          animation-delay: 1s;
          animation-iteration-count:infinite;
          }
          @keyframes show
          {
          0%
          {
          opacity:0;
          }
          45%
          {
          opacity:0.5;
          }
          }
          .animationwindow5
          {
            position: relative;
            width: 60px;
            height: 43px;
            top: 488px;
            left: 182px;
            background: #FFE600;
            opacity: 0%;
            transition: 5s;
            animation: show 20s 1;
            animation-fill-mode: forwards;
            animation-delay: 1s;
            animation-iteration-count:infinite;
            }
            @keyframes show
            {
            0%
            {
            opacity:0;
            }
            45%
            {
            opacity:0.5;
            }
            }
.panelka2
{
  position: relative;
  margin-top: 135px;
  margin-left: -1px;
}
.animationwindow6
{
  position: relative;
  width: 55px;
  height: 54px;
  top: 260px;
  left: 140px;
  background: #FFE600;
  opacity: 0%;
  transition: 8s;
  animation: show 8s 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  animation-iteration-count:infinite;
  }
  @keyframes show
  {
  0%
  {
  opacity:0;
  }
  45%
  {
  opacity:0.5;
  }
  }
  .animationwindow7
  {
    position: relative;
    width: 67px;
    height: 42px;
    top: 475px;
    left: 99px;
    background: #FFE600;
    opacity: 0%;
    transition: 5s;
    animation: show 20s 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-iteration-count:infinite;
    }
    @keyframes show
    {
    0%
    {
    opacity:0;
    }
    45%
    {
    opacity:0.5;
    }
    }
.rectangle
{
  position: absolute;
  width: 115px;
  height: 580px;
  top: 323px;
  left: 354px;
  background: #2829FB;
  overflow: hidden;
}
.windows1
{
  display: flex;
  flex-flow: column;
}
.flex
{
  display: flex;
}
.windowhome:hover
{
background: #FFE600;
cursor: pointer;
transition: 0.35s;
}
.windowhome
{
  margin: 6px;
  left: 9px;
  top: 8px;
  position: relative;
  width: 14px;
  height: 91px;
  margin: 5px;
  background: #0B0CB9;
}
.rectangle1
{
  position: absolute;
  top: 513px;
  left: 560px;
  width: 138px;
  height: 390px;
  background: #1415D2;

}
.flex
{
  display: flex;
}
.windowhome1:hover
{
background: #FFE600;
cursor: pointer;
transition: 0.35s;
}
.windowhome1
{
  position: relative;
  width: 20px;
  height: 30px;
  margin: 5px;
  left: 9px;
  top: 13px;
  background: #6D6EFF;
}
.rectangle2
{
  position: absolute;
  width: 76px;
  height: 236px;
  top: 671px;
  left: 548px;
  background: #2829FB;
}

.windowhome2:hover
{
background: #FFE600;
cursor: pointer;
transition: 0.35s;
}
.windowhome2
{
  position: relative;
  left: 1px;
  top: 1px;
  width: 15px;
  height: 23px;
  margin: 5px;
  background: #9899FF;
}
.text
{
  position: absolute;
  width: 612.85px;
  height: 219.8px;
  left: 597px;
  top: 111px;

  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 89px;
  line-height: 110px;
  color: #0000FD;
}
.text1
{
  position: absolute;
  width: 759px;
  height: 220px;
  left: 605px;
  top: 363px;
  font-family: F77 Minecraft;
  font-style: normal;
  font-weight: normal;
  font-size: 82px;
  line-height: 82px;
  color: #0000FD;
}
.homeright
{
  display: flex;
  width: 600px;
  height: 901px;
  left: 546px;
  position: relative;
}
.panelka3
{
  background: url('../img/panelka5.svg');
  display: flex;
  width: 360px;
  height: 905px;
  left: 399px;
  position: relative;
}
.rectanglewindowright
{
  position: relative;
  width: 48px;
  height: 58px;
  top: 37px;
  left: 55px;
  background: #FFE600;
  opacity: 0%;
  transition: 5s;
  animation: show 20s 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  animation-iteration-count:infinite;
  }
  @keyframes show
  {
  0%
  {
  opacity:0;
  }
  45%
  {
  opacity:0.5;
  }
  }
.rectanglewindowright1
{
  position: relative;
  width: 48px;
  height: 58px;
  top: 290px;
  left: 134px;
  background: #FFE600;
  opacity: 0%;
  transition: 5s;
  animation: show 5s 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  animation-iteration-count:infinite;
  }
  @keyframes show
  {
  0%
  {
  opacity:0;
  }
  45%
  {
  opacity:0.5;
  }
  }
.rectanglewindowright2
{
  position: relative;
  width: 48px;
  height: 58px;
  top: 674px;
  left: 86px;
  background: #FFE600;
  opacity: 0%;
  transition: 10s;
  animation: show 20s 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  animation-iteration-count:infinite;
  }
  @keyframes show
  {
  0%
  {
  opacity:0;
  }
  45%
  {
  opacity:0.5;
  }
  }
  .rectangle3
  {
    position: absolute;
    width: 120px;
    height: 640px;
    top: 285px;
    left: 434px;
    z-index: 9;
    background: #0B0CB9;
  }
  .panelka4
  {
    background: url('../img/panelka4.svg');
    display: flex;
    width: 257px;
    height: 928px;
    left: -182px;
    position: relative;
    }
  .rectanglewindowright3
  {
    position: relative;
    width: 61px;
    height: 61px;
    top: 192px;
    left: 37px;
    background: #FFE600;
    opacity: 0%;
    transition: 3s;
    animation: show 5s 1;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    animation-iteration-count:infinite;
    }
    @keyframes show
    {
    0%
    {
    opacity:0;
    }
    45%
    {
    opacity:0.5;
    }
    }
  .rectanglewindowright4
  {
    position: relative;
    width: 61px;
    height: 61px;
    top: 344px;
    left: 76px;
    background: #FFE600;
    opacity: 0%;
    transition: 20s;
    animation: show 20s 1;
    animation-fill-mode: forwards;
    animation-delay: 5s;
    animation-iteration-count:infinite;
    }
    @keyframes show
    {
    0%
    {
    opacity:0;
    }
    45%
    {
    opacity:0.5;
    }
    }
  .rectanglewindowright5
  {
    position: relative;
    width: 70px;
    height: 69px;
    top: 646px;
    left: -86px;
    background: #FFE600;
    opacity: 0%;
    transition: 3s;
    animation: show 15s 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-iteration-count:infinite;
    }
    @keyframes show
    {
    0%
    {
    opacity:0;
    }
    45%
    {
    opacity:0.5;
    }
    }
    .rectangle4
  {
    position: absolute;
    width: 151px;
    height: 470px;
    top: 459px;
    left: 355px;
    z-index: 10;
    background: #2829FB;
}
.windowhome3:hover
{
background: #FFE600;
cursor: pointer;
transition: 0.35s;
}
.windowhome3
{
position: relative;
width: 47px;
height: 18px;
margin: 10px;
left: 8px;
top: 8px;
background: #0B0CB9;
}
.panelka5
{
  background: url('../img/panelka3.svg');
  display: flex;
  width: 187px;
  height: 696px;
  left: -5px;
  margin-left: 0px;
  top: 209px;
  position: absolute;
  scale: 80%;
  }
  .rectanglewindowright6
  {
    position: relative;
    width: 46px;
    height: 53px;
    top: 45px;
    left: 17px;
    background: #FFE600;
    opacity: 0%;
    transition: 5s;
    animation: show 20s 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-iteration-count:infinite;
    }
    @keyframes show
    {
    0%
    {
    opacity:0;
    }
    45%
    {
    opacity:0.5;
    }
    }
  .rectanglewindowright7
  {
    position: relative;
    width: 46px;
    height: 53px;
    top: 276px;
    left: 77px;
    background: #FFE600;
    opacity: 0%;
    transition: 5s;
    animation: show 5s 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-iteration-count:infinite;
    }
    @keyframes show
    {
    0%
    {
    opacity:0;
    }
    45%
    {
    opacity:0.5;
    }
    }
  .rectanglewindowright8
  {
    position: relative;
    width: 46px;
    height: 53px;
    top: 499px;
    left: -75px;
    background: #FFE600;
    opacity: 0%;
    transition: 10s;
    animation: show 20s 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-iteration-count:infinite;
    }
    @keyframes show
    {
    0%
    {
    opacity:0;
    }
    45%
    {
    opacity:0.5;
    }
    }
  .rectangle5
    {
    position: absolute;
    width: 143px;
    height: 110px;
    top: 99px;
    left: 38px;
    background: #0B0CB9;
    }
  .windowhome4:hover
    {
    background: #FFE600;
    cursor: pointer;
    transition: 0.35s;
    }
  .windowhome4
    {
    position: relative;
    width: 15px;
    height: 104px;
    margin: 5px;
    left: 5px;
    top: 0px;
    background: #2829FB;
    }
  .rectangle6
    {
    position: absolute;
    width: 92px;
    height: 196px;
    top: 706px;
    left: 91px;
    background: #0000FF;
    }
  .windowhome5:hover
    {
    background: #FFE600;
    cursor: pointer;
    transition: 0.35s;
    }
  .windowhome5
    {
    position: relative;
    width: 14px;
    height: 19px;
    margin: 5px;
    left: 10px;
    top: 10px;
    background: #9899FF;
    }
.plashka
{
  position: relative;
  width: 1920px;
  height: 90px;
  background: #0000FE;
}
.hearts
{
  position: absolute;
  top: -12px;
  left: 1503px;
  transform: scale(80%);
}
.text3
{
  position: absolute;
  width: 323px;
  height: 24px;
  left: 1237px;
  top: 36px;
  font-family: F77 Minecraft;
  font-size: 24px;
  color: #FFFFFF;
}
.number1
{
 position: relative;
 top: 21px;
 width: 57px;
 margin-left: 56px;
}
.text4
{
  position: absolute;
  width: 126px;
  height: 23px;
  margin-left: 132px;
  top: 38px;
  font-family: F77 Minecraft;
  font-size: 24px;
  color: #FFFFFF;
}
.screen2
{
  width: 1920px;
  height: 1699px;
  display: flex;
  overflow: hidden;
  position: relative;
}
.piccloud
{
    position: absolute;
    margin-left: 0px;
    margin-top: -21px;
    transform: scale(270%);
}
.cloud1
{
  background-image: url('../img/cloud1.svg');
  position: relative;
  width: 312px;
  height: 154px;
  top: 74px;
  left: 0px;
  animation: fly1 30s linear infinite;
}
@keyframes fly1
{
  0%
  {
    left: -20px;
  }
  100%
  {
    left: 1920px;
  }
}

.cloud3
{
  background-image: url('../img/cloud2.svg');
  position: relative;
  width: 563px;
  height: 154px;
  top: 353px;
  left: 0px;
  animation: fly3 30s linear infinite;
}
@keyframes fly3
{
  0%
  {
    left: -1400px;
  }
  100%
  {
    left: 1920px;
  }
}
.cloud2
{
  background-image: url('../img/cloud3.svg');
  position: relative;
  width: 177px;
  height: 68px;
  top: 92px;
  left: 1647px;
  animation: fly2 50s linear infinite;
}
@keyframes fly2
{
  0%
  {
    left: -450px;
  }
  100%
  {
    left: 1920px;
  }
}
.cloud4
{
  background-image: url('../img/cloud4.svg');
  position: relative;
  width: 355px;
  height: 128px;
  top: 51px;
  left: 204px;
  animation: fly4 60s linear infinite;
}
@keyframes fly4
{
  0%
  {
    left: -1850px;
  }
  100%
  {
    left: 1700px;
  }
}
.cloud5
{
  background-image: url('../img/cloud5.svg');
  position: relative;
  width: 616px;
  height: 151px;
  top: 232px;
  left: 0px;
  animation: fly4 60s linear infinite;
}
@keyframes fly4
{
  0%
  {
    left: -1550px;
  }
  100%
  {
    left: 1920px;
  }
}
.text5
{
  position: relative;
  width: 444px;
  height: 66px;
  left: -304px;
  top: 139px;
  font-family: Gilroy-Medium;
  font-size: 40px;
  color: #FFFFFF;
}
.text6
{
  position: relative;
  width: 722px;
  height: 125px;
  left: -49px;
  top: 775px;
  font-family: Gilroy-Medium;
  font-size: 40px;
  color: #FFFFFF;
}
.mainclouds
{
  position: relative;
}
.plashka2
{
  position: relative;
  width: 1920px;
  height: 90px;
  background: #0000FE;
}
.hearts2
{
  position: absolute;
  top: -12px;
  left: 1503px;
  transform: scale(80%);
}
.text7
{
  position: absolute;
  width: 348px;
  height: 24px;
  margin-left: 1236px;
  top: 38px;
  font-family: F77 Minecraft;
  font-size: 24px;
  color: #FFFFFF;
}
.number2
{
 position: relative;
top: 21px;
 margin-left: 56px;
}
.text8
{
  position: absolute;
  width: 126px;
  height: 23px;
  margin-left: 132px;
  top: 38px;
  font-family: F77 Minecraft;
  font-size: 24px;
  color: #FFFFFF;
}
.screen3
{
  width: 1923px;
  height: 1133px;
  display: flex;
  position: relative;
}
.textplash
{
    width: 733px;
    height: 280px;
    margin-top: 409px;
    margin-left: 69px;
    background: #0000FE;
    z-index: 19;
}
.text15
{
    position: absolute;
    width: 770px;
    height: 23px;
    margin-left: 91px;
    top: 397px;
    font-family: Gilroy-Bold;
    font-size: 100px;
    color: #FFFFFF;
    z-index: 20;
}
.text16
{
  position: absolute;
  width: 407px;
  height: 23px;
  margin-left: 1434px;
  top: 819px;
  font-family: Gilroy-Medium;
  font-size: 30px;
  color: #FFFFFF;
  z-index: 20;
}
.textplash1
{
  width: 253px;
  height: 280px;
  margin-top: 748px;
  margin-left: 645px;
  background: #0000FE;
  z-index: 19;
}
.picspace
{
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
}
.section
{
  position: absolute;
}
.animationspace1:hover
{
background-image: url('../img/spaceani2.png');
cursor: pointer;
transition: 0.35s;
}
.animationspace1
{
  z-index: 10;
position: relative;
background-image: url('../img/spaceani1.png');
}
.plashka3
{
  position: relative;
  width: 1920px;
  height: 90px;
  background: #0000FE;
}
.hearts3
{
  position: absolute;
  top: -12px;
  left: 1503px;
  transform: scale(80%);
}
.text9
{
  position: absolute;
  width: 348px;
  height: 24px;
  margin-left: 1236px;
  top: 38px;
  font-family: F77 Minecraft;
  font-size: 24px;
  color: #FFFFFF;
}
.number3
{
 position: relative;
top: 21px;
width: 57px;
 left: 56px;
}
.text10
{
  position: absolute;
  width: 126px;
  height: 23px;
  left: 132px;
  top: 38px;
  font-family: F77 Minecraft;
  font-size: 24px;
  color: #FFFFFF;
}
.screen4
{
  width: 1920px;
  height: 899px;
  display: flex;
  overflow: hidden;
  position: relative;
}
.row{
  width: 1920px;
  height: 899px;
  text-shadow: 0 0 0px 0px rgba(255, 0, 0, 1);
  vertical-align: middle;
  padding: absolute;
  top: 100px;
  color: #0000FF;
  overflow: hidden;
  white-space: nowrap;
}
.p1{
  font-size: 64px;
  font-family: 'Ctrln';
  animation: lin 30s alternate-reverse infinite;
}
.p2{
  font-size: 64px;
  font-family: 'Ctrln';
  animation: lin2 40s alternate-reverse infinite;
}
@keyframes lin {
  from { text-indent: -100%}
  to { text-indent: 0%}
}
@keyframes lin2 {
  from { text-indent: 0%}
  to { text-indent: -100%}
}
.shadow
{

  position: absolute;
  top: 217px;
  left: 480px;
}
.oldhome
{
  position: absolute;
  top: -29px;
  left: 516px;
}
.oldhousewindow
{
  position: relative;
  width: 77px;
  height: 125px;
  top: 700px;
  left: 580px;
  background: #FFE600;
  opacity: 0%;
  transition: 5s;
  animation: show 5s 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  animation-iteration-count:infinite;
  }
  @keyframes show
  {
  0%
  {
  opacity:0;
  }
  45%
  {
  opacity:0.5;
  }
  }
.oldhousewindow1
{
  position: relative;
  width: 77px;
  height: 125px;
  top: 573px;
  left: 235px;
  background: #FFE600;
  opacity: 0%;
  transition: 5s;
  animation: show 10s 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  animation-iteration-count:infinite;
  }
  @keyframes show
  {
  0%
  {
  opacity:0;
  }
  45%
  {
  opacity:0.5;
  }
  }
  .plashka4
  {
    position: relative;
    width: 1920px;
    height: 90px;
    background: #0000FE;
  }
  .hearts4
  {
    position: absolute;
    top: -12px;
    left: 1503px;
    transform: scale(80%);
  }
  .text11
  {
    position: absolute;
    width: 348px;
    height: 24px;
    margin-left: 1236px;
    top: 38px;
    font-family: F77 Minecraft;
    font-size: 24px;
    color: #FFFFFF;
  }
  .number4
  {
   position: relative;
  top: 21px;
  width: 57px;
   left: 56px;
  }
  .text12
  {
    position: absolute;
    width: 126px;
    height: 23px;
    left: 132px;
    top: 38px;
    font-family: F77 Minecraft;
    font-size: 24px;
    color: #FFFFFF;
  }
  .screen5
  {
    width: 1920px;
    height: 1115px;
    display: flex;
    position: relative;
  }
  .backgroundpic
  {
    position: absolute;
    margin-left: 0px;
  }
  .text13
  {
    z-index: 13;
    position: relative;
    margin-left: 151px;
    margin-top: 330px;
    font-family: Gilroy-Medium;
    font-size: 24px;
    color: #FFFFFF;
  }
  .futor
  {
    width: 1920px;
    height: 420px;
    display: flex;
    background-color:#0000FE;
    position: relative;
  }
  .exit
  {
    position: relative;
    margin-top: 81px;
    left: 69px;
  }
  .text14
  {
    z-index: 13;
    position: relative;
    left: -225px;
    margin-top: 259px;
    font-family: Gilroy-Bold;
    font-size: 30px;
    color: #FFFFFF;
  }
  .logo
{
    left: 1532px;
    margin-top: 245px;
    position: relative;
}
