*{
  box-sizing: border-box;
}
body
{
  width: 100%;
}
@font-face
{
	font-family: 'Gilroy-Bold';
	src: url('../fonts/gilroy-bold.woff');
}
@font-face
{
	font-family: 'Gilroy-Medium';
	src: url('../fonts/gilroy-medium.woff'); /* IE 9 Compatibility Mode */
}
@font-face
{
  font-family: 'F77 Minecraft';
  src: url('../fonts/F77 Minecraft.ttf');
}
.pers
{
  position: fixed;
  left: 825px;
  top: 542px;
  animation: pers 6s linear infinite;
}
@keyframes pers
{
  0%
  {transform: rotate(0deg);}
  25%
  {
    transform: rotate(45deg);
  }
  85%
  {transform: rotate(-20deg);}
  100%
  {
    transform: rotate(0deg);
  }
}

.screen1
{
  width: 1920px;
  height: 901px;
  display: flex;
}
.homeleft
{
  display: flex;
  width: 699px;
}
.panelka1
{
  position: relative;
  margin-top: 10px;
}
.panelka2
{
  position: relative;
  margin-top: 135px;
  margin-left: -1px;
}
.rectangle
{
  position: absolute;
  width: 115px;
  height: 580px;
  top: 320px;
  left: 354px;
  background: #2829FB;
  overflow: hidden;
}
.windows1
{
  display: flex;
  flex-flow: column;
}
.flex
{
  display: flex;
}
.windowhome:hover
{
background: #FFE600;
cursor: pointer;
transition: 0.35s;
}
.windowhome
{
  margin: 6px;
  left: 9px;
  top: 8px;
  position: relative;
  width: 14px;
  height: 91px;
  margin: 5px;
  background: #0B0CB9;
}
.rectangle1
{
  position: absolute;
  top: 511px;
  left: 560px;
  width: 138px;
  height: 390px;
  background: #1415D2;

}
.flex
{
  display: flex;
}
.windowhome1:hover
{
background: #FFE600;
cursor: pointer;
transition: 0.35s;
}
.windowhome1
{
  position: relative;
  width: 20px;
  height: 30px;
  margin: 5px;
  left: 9px;
  top: 13px;
  background: #6D6EFF;
}
.rectangle2
{
  position: absolute;
  width: 76px;
  height: 236px;
  top: 664px;
  left: 548px;
  background: #2829FB;
}

.windowhome2:hover
{
background: #FFE600;
cursor: pointer;
transition: 0.35s;
}
.windowhome2
{
  position: relative;
  left: 1px;
  top: 1px;
  width: 15px;
  height: 23px;
  margin: 5px;
  background: #9899FF;
}
.text
{
  position: absolute;
  width: 612.85px;
  height: 219.8px;
  left: 597px;
  top: 111px;

  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 89px;
  line-height: 110px;
  color: #0000FD;
}
.text1
{
  position: absolute;
  width: 759px;
  height: 220px;
  left: 605px;
  top: 363px;
  font-family: F77 Minecraft;
  font-style: normal;
  font-weight: normal;
  font-size: 82px;
  line-height: 82px;
  color: #0000FD;
}
.homeright
{
  display: flex;
  width: 672px;
  height: 901px;
  margin-left: 546px;
}
.panelka5
{
  position: relative;
  margin-left: 413px;
}
.panelka4
{
  position: relative;
  margin-left: -500px;
}
.panelka3
{
  position: relative;
  margin-left: -443px;
  margin-top: 171px;
  top: 4px;
}
.rectangle3
{
  position: absolute;
  width: 120px;
  height: 640px;
  top: 259px;
  left: 1668px;
  background: #0B0CB9;
}
